# exclude build output
build/
dist/

# exclude AppImage build files
/appimage-build
/AppDir
*.AppImage
*.AppImage.zsync

# exclude cache files
*~
.DS_Store
thumbs.db
gmon.out

# exclude unused and scratch pad files
.trash
/img
/util

# exclude project files
nbproject

# exclude packs (they are separate projects)
packs
!schema/packs
screenshots
packlist
pop-pack-create-versions

# exclude tool chain dependant files
win32-lib
win32-lib-src
