[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua.git
[submodule "lib/apclientpp"]
	path = lib/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
[submodule "lib/wswrap"]
	path = lib/wswrap
	url = https://github.com/black-sliver/wswrap.git
[submodule "examples/template_pack"]
	path = examples/template_pack
	url = https://github.com/Cyb3RGER/template_pack.git
[submodule "lib/luaglue"]
	path = lib/luaglue
	url = https://github.com/black-sliver/luaglue.git
[submodule "lib/gmock-win32"]
	path = lib/gmock-win32
	url = https://github.com/smalti/gmock-win32.git
[submodule "lib/sltbench"]
	path = lib/sltbench
	url = https://github.com/ivafanas/sltbench.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
