#include "version.h"
#include <winver.h>

#if defined(NDEBUG) && APP_VERSION_PRERELEASE
#    define APP_FILE_FLAGS VS_FF_PRERELEASE
#elif defined(NDEBUG)
#    define APP_FILE_FLAGS 0
#elif APP_VERSION_PRERELEASE
#    define APP_FILE_FLAGS (VS_FF_DEBUG | VS_FF_PRERELEASE)
#else
#    define APP_FILE_FLAGS VS_FF_DEBUG
#endif


LANGUAGE 0,0 // neutral

id ICON "../assets/icon.ico"
1 24 "../build/poptracker.exe.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     APP_VERSION_TUPLE_4I
PRODUCTVERSION  APP_VERSION_TUPLE_4I
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       APP_FILE_FLAGS
FILEOS          VOS_NT
FILETYPE        VFT_APP
FILESUBTYPE     0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
		VALUE "Comments",         ""
		VALUE "CompanyName",      ""
		VALUE "FileDescription",  "PopTracker"
		VALUE "FileVersion",      APP_VERSION_STRING
		VALUE "InternalName",     ""
		VALUE "LegalCopyright",   ""
		VALUE "OriginalFilename", "poptracker.exe"
		VALUE "ProductName",      "PopTracker"
		VALUE "ProductVersion",	  APP_VERSION_STRING
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
