name: Check examples

on:
  push:
    paths:
      - '.github/workflows/check-examples.yaml'
      - 'schema/packs/**'
      - 'examples/**'
  pull_request:
    paths:
      - '.github/workflows/check-examples.yaml'
      - 'schema/packs/**'
      - 'examples/**'
  workflow_dispatch:

jobs:

  check-examples:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6.0.2
        with:
          submodules: recursive

      - name: Check ap-storage-example
        uses: PopTracker/pack-checker-action@v1
        with:
          schema: schema/packs/
          pack: examples/ap-storage-example
          strict: true

      - name: Check hosted_item
        uses: PopTracker/pack-checker-action@v1
        with:
          schema: schema/packs/
          pack: examples/hosted_item
          strict: true

      - name: Check luminosity-test
        uses: PopTracker/pack-checker-action@v1
        with:
          schema: schema/packs/
          pack: examples/luminosity-test
          strict: true

      - name: Check margin-test
        uses: PopTracker/pack-checker-action@v1
        with:
          schema: schema/packs/
          pack: examples/margin-test
          strict: true

      - name: Check template_pack
        uses: PopTracker/pack-checker-action@v1
        with:
          schema: schema/packs/
          pack: examples/template_pack
          strict: true

      - name: Check uat-example
        uses: PopTracker/pack-checker-action@v1
        with:
          schema: schema/packs/
          pack: examples/uat-example
          strict: true
