name: Codespell

on:
  push:
  pull_request:

jobs:
  codespell:
    runs-on: ubuntu-latest
    name: Find typos

    steps:
    - uses: actions/checkout@v6
    - uses: codespell-project/actions-codespell@v2
      with:
        check_filenames: true
        check_hidden: true
